<% if flash[:alert] || resource.errors.any? %>
  <div id="alert_and_error_messages" class="alert-container" data-turbo-cache="false">
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if resource.errors.any? %>
      <div class="alert alert-danger">
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
<% end %>